 @import "tailwindcss";
 body{
  background-color: rgb(217, 215, 215);
 }

.print-safe * {
  color: black !important;
  background-color: white !important;
}


.loader {
  border-top-color: transparent;
}
#bisection-result {
  padding: 20px;
 
}


